body{
    padding: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins',sans-serif;
    height: 40rem;
    background: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.dreamstime.com%2Fphotos-images%2Fcity-background.html&psig=AOvVaw3o3bwgyqb08AdCbR2-TAD6&ust=1722746541531000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCKDt45eB2IcDFQAAAAAdAAAAABAE') fixed no-repeat;
    background-size: cover;
}
.card{
    background-color: #000000d8;
    padding: 2em;
    margin: 1em;
    border-radius: 20px;
    color: #ededed;
    width: 400px;
    height: auto;
}
.temp{
    font-family: 'Montserrat','sans-serif';   
}
.desc{
    text-transform: capitalize;
}
.content{
    margin: 1.3rem;
}
.flex{
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.temp{
    font-size: 2.5rem;
    margin-bottom: 0;
}
.search{
    background: #222;
    height: 50px;
    width: 250px;
    outline: none;
    border: none;
    border-radius: 30px;
    color: #edededed;
    padding: 5px;
    padding-left:8%;
    font-size: 20px;
}
button{
    height: 50px;
    width: 50px;
    outline: none;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    background: #222;
    color: #edededed;
}
button:hover{
    background: #363636b7;
}
.hidden.loading{
    visibility: hidden;
    height: 0;
}
@media(max-width = 768px){
    body{
        height: 60rem;
    }
}
